doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{name}.js - #{description}
    link(rel="preconnect" href="https://fonts.gstatic.com/" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro|Source+Serif+Pro")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs@9.12.0/styles/github.css")
    link(rel="stylesheet" href=`${name}.min.css`)
    script(src=`${name}.min.js`)
    script
      | var conceal = #{config.entry}.conceal
      | var concealed = #{config.entry}.concealed
      | var reveal = #{config.entry}.reveal
      | var toggle = #{config.entry}.toggle
    style.
      body {
        color: #333;
        margin: 0;
        padding: .5em 1em;
        font-family: 'Source Sans Pro', sans-serif;
      }
      header {
        margin-bottom: 1.5em;
      }
      section {
        margin: .5em 0 2em 0;
      }
      h1 {
        margin: 0 .25em 0 0;
        display: inline-block;
        font-family: "Fredoka One", sans-serif;
        font-weight: normal;
        font-size: 2rem;
      }
      h1 > .conceal {
        color: white;
        text-shadow: 0 0 4px #888;
      }
      h1 > .hyphen {
        padding: 0 2px;
        color: #bbb;
      }
      h1 > .dotjs {
        padding-left: 1px;
        color: #888;
      }
      #target {
        border: 1px solid #bbb;
        padding: 1em 1.5em;
        margin: .5em 0;
        background-image: linear-gradient(45deg, #c0f8ff, #c0ffdb);
        line-height: 1.6;
        font-family: 'Source Serif Pro', serif;
      }
      button {
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
      }
      .button-container > button {
        min-width: 6em;
        padding: .25em .5em;
        border: 1px solid #888;
        border-radius: .25em;
        background-color: transparent;
        font-family: inherit;
        font-size: .875rem;
        margin-right: .5rem;
      }
      code {
        white-space: pre;
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
        font-size: 13px;
      }
  body
    header
      h1
        span.conceal conceal
        span.hyphen -
        span.reveal reveal
        span.dotjs .js
      a(href=`https://github.com/${repository}` style="display: inline-block; padding: .25em;")
        img(src="https://cdn.jsdelivr.net/npm/octicons@7.0.1/build/svg/mark-github.svg" alt="GitHub" style="height: 2.25em; vertical-align: bottom;")
      p(style="margin: .5em 0;") #{description}.

    main
      section
        .button-container
          button(type="button" data-ripplet="color:rgba(255,255,255,.7)" onclick=`conceal(document.getElementById('target'))`) conceal
          button(type="button" data-ripplet="color:rgba(255,255,255,.7)" onclick=`reveal(document.getElementById('target'))`) reveal
          button(type="button" data-ripplet="color:rgba(255,255,255,.7)" onclick=`toggle(document.getElementById('target'))`) toggle
        p#target
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      section
        style: include concealable-panel.css
        include concealable-panel.pug

    script(src="https://cdn.jsdelivr.net/npm/ripplet.js@0.1.13/umd/ripplet-declarative.min.js")
